<form method="post" action="{{ path('author_delete', {'id': author.id}) }}" onsubmit="return confirm('Вы действительно хотите стереть этого автора?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ author.id) }}">
    <button class="btn">Удалить</button>
</form>
