{% extends 'base.html.twig' %}

{% block title %}Редактировать автора{% endblock %}

{% block body %}
    <h1>Редактировать автора</h1>

    {{ include('author/_form.html.twig', {'button_label': 'Сохранить'}) }}

    <a href="{{ path('author_index') }}">Назад к спискуt</a>

    {{ include('author/_delete_form.html.twig') }}
{% endblock %}
