{% extends 'base.html.twig' %}

{% block title %}Список авторов{% endblock %}

{% block body %}
    <h1>Список авторов</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Имя</th>
                <th>Отчество</th>
                <th>Фамилия</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for author in authors %}
            <tr>
                <td>{{ author.id }}</td>
                <td>{{ author.firstName }}</td>
                <td>{{ author.middleName }}</td>
                <td>{{ author.lastName }}</td>
                <td>
                    <a href="{{ path('author_show', {'id': author.id}) }}">показать</a>
                    <a href="{{ path('author_edit', {'id': author.id}) }}">изменить</a>
                    <a href="{{ path('author_delete', {'id': author.id}) }}">удалить</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">еще нет ни одного автора</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('author_new') }}">Create new</a>
{% endblock %}
