{% extends 'base.html.twig' %}

{% block title %}Новый автор{% endblock %}

{% block body %}
    <h1>Сохранить автора</h1>

    {{ include('author/_form.html.twig') }}

    <a href="{{ path('author_index') }}">Назад к списку</a>
{% endblock %}
