<form method="post" action="{{ path('book_delete', {'id': book.id}) }}" onsubmit="return confirm('Вы действительно хотите забыть про эту книгу?');">
    <input type="hidden" name="_method" value="delete">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ book.id) }}">
    <button class="btn">Удалить</button>
</form>
