{% extends 'base.html.twig' %}

{% block title %}Редактировать книгу{% endblock %}

{% block body %}
    <h1>Редактировать книгу</h1>

    {{ include('book/_form.html.twig', {'button_label': 'Сохранить'}) }}

    <a href="{{ path('book_index') }}">Назад к списку</a>

    {{ include('book/_delete_form.html.twig') }}
{% endblock %}
