{% extends 'base.html.twig' %}

{% block title %}Список книг{% endblock %}

{% block body %}
    <h1>Список книг</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Название</th>
                <th>Год издания</th>
                <th>ISBN</th>
                <th>Размер, стр</th>
                <th>Обложка</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for book in books %}
            <tr>
                <td>{{ book.id }}</td>
                <td>{{ book.title }}</td>
                <td>{{ book.year }}</td>
                <td>{{ book.isbn }}</td>
                <td>{{ book.size }}</td>
                <td>{% if book.cover %}<img src="/covers/{{ book.cover }}" width="100" height="100"/>{% endif %}</td>
                <td>
                    <a href="{{ path('book_show', {'id': book.id}) }}">показать</a>
                    <a href="{{ path('book_edit', {'id': book.id}) }}">изменить</a>
                    <a href="{{ path('book_delete', {'id': book.id}) }}">удалить</a>

                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">Еще не добавлено ни одной книги</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('book_new') }}">Записать новую книгу</a>
{% endblock %}
