{% extends 'base.html.twig' %}

{% block title %}Новая книга{% endblock %}

{% block body %}
    <h1>Записать новую книгу</h1>

    {{ include('book/_form.html.twig') }}

    <a href="{{ path('book_index') }}">Назад к списку</a>
{% endblock %}
