{% extends 'base.html.twig' %}

{% block title %}Книга{% endblock %}

{% block body %}
    <h1>Книга </h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ book.id }}</td>
            </tr>
            <tr>
                <th>Название</th>
                <td>{{ book.title }}</td>
            </tr>
            <tr>
                <th>Год издания</th>
                <td>{{ book.year }}</td>
            </tr>
            <tr>
                <th>ISBN</th>
                <td>{{ book.isbn }}</td>
            </tr>
            <tr>
                <th>Рзамер, стр</th>
                <td>{{ book.size }}</td>
            </tr>
            <tr>
                <th>Обложка</th>
                <td>{{ book.cover }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('book_index') }}">Назад к списку</a>

    <a href="{{ path('book_edit', {'id': book.id}) }}">Редактировать</a>

    {{ include('book/_delete_form.html.twig') }}
{% endblock %}
